#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 10%;
	left: 0;
	margin-right:0.5em;
	color:#4589ce;
	z-index: 50;
	font-family: 'Open Sans Condensed', sans-serif;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	background:#FFFFFF;
	display:inline-block;
	padding:0.35em;
	border-radius:0 0.15em 0.15em 0;
	-moz-border-radius:0 0.15em 0.15em 0;	
	-webkit-border-radius:0 0.15em 0.15em 0;	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:0.5em;
	color: #555555;
    font-size: 2em;	
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.7em;
	padding:0.25em;
}