#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 3em;
	left: 0;
	margin-right:1em;
	padding:0.9em;
	background-color:rgba(220, 220, 220, 0.6);
	color:#000000;
	z-index: 50;
	font-family:'Arimo', Arial, Helvetica, sans-serif;	
	font-weight: bold;
	border-radius:0 0.2em 0.2em 0;
	-moz-border-radius:0 0.2em 0.2em 0;
	-webkit-border-radius:0 0.2em 0.2em 0;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	margin-top: 0.3em;
	font-size: 1.6em;
	line-height: 1.15em;
	font-weight: normal;
	color: #222222;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.4em;
	line-height: 1.15em;	
}