#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 2em;
	left: 3em; 
	margin-right: 0;
	color:#E9E9E9;
	z-index: 50;
	font-family:'Oswald',Arial,Helvetica,sans-serif;
	line-height: 3em;
	text-transform: uppercase;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding:0.5em 0.4em;
	background:rgba(0, 0, 0, 0.9);
	border-left:5px solid #008AC3; 
}
#wowslider-container$GallerySuffix$ .ws-title div{
	line-height: 1.15em;
	display:block;
	margin-top:0.5em;
	font-size: 1.6em;
	padding:0.6em;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.8em;
}