#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 2.5em;
	left: 0.7em;
	margin-right:0.7em;
	color:#959695;
	z-index: 50;
	font-family: 'Economica',Trebuchet MS, Helvetica, sans-serif;
	line-height: 2.9em;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	background:#FFFFFF;
	display:inline-block;
	padding:0.35em;
	border-radius:0.2em;
	-moz-border-radius:0.2em;
	-webkit-border-radius:0.2em;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); 
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	color: #000000;
    font-size: 2em;
	font-weight: normal;
	line-height: 1em;
	margin-top: 0.5em;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.7em;
	padding:0.25em;
}