#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 2em;
	left: 0;
	padding:1em;
	padding-left: 3em;
	margin-right:1em;
	color:#FFFFFF;	
	z-index: 50;
	font-family: 'Averia Sans Libre', cursive;
	line-height: 2.8em;
	text-transform: none;
	text-shadow: .2em .2em .5em #000;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	opacity:1;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:0.3em;
	font-size: 2.8em;
	color: #fff;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2em;
	color: #DDF16E;
}