#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 2em;
	left: 1em;
	margin-right: 1em; 
	color:#FFFFFF;
	z-index: 50;
	font-family:'Fresca',Arial,Helvetica,sans-serif;
	font-weight: bold;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding:0.4em 0.5em;
	background:#DD4322;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:0.5em;
	font-size: 2em;
	font-weight: normal;
	background:#FFFFFF;
	color:#DD4322;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.2em;
}