#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 2em;
	left: 1em;
	margin-right: 1em; 
	padding:0.8em 1em;
	background:#DD4322;
	color:#FFFFFF;
	z-index: 50;
	font-family:'Fresca',Arial,Helvetica,sans-serif;
	line-height: 2.8em;
	font-weight: bold;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	font-size: 2em;
	line-height: 1.1em;
	font-weight: normal;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.6em;
}