#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	bottom:1.5em;
	left: 0;
	margin:1.5em;
	z-index: 50;
	color: #FFFFFF;
	text-shadow: 0px 0px 3px #000000;
    font-family: 'Oranienbaum',Georgia,serif;
	line-height: 1.5em;
	font-weight: bold;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding:0.7em;
	background:rgba(255,255,255,0.4);
	border: 1px solid #FFFFFF;
	border-radius:0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:0.5em;
	font-size: 1.4em;
	line-height: 1.6em;
    font-weight: normal;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.8em;
}
