#wowslider-container$GallerySuffix$ .ws_frame{
	display:block;
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	border-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 22px;
	z-index:9;
}
