#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 3.9em;
	left: 1.5em;
	margin-right: 1em; 
	color:#FFFFFF;
	z-index: 50;
	font-family:'Tenor Sans',Arial,Helvetica,sans-serif;
	line-height: 2.6em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing:-1px;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	background:#E14E3D;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:0;
	padding:0.6em 0.7em;
	font-size: 1.4em;
	line-height: 1.4em;
	font-weight: normal;
	background:rgba(0,0,0,0.75);
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.6em;
	padding:0.4em 0.5em; 
}