#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	bottom:3.0em;
	left: 1.5em;
	margin: 0.9em 0 0.9em 1em;
	z-index: 50;
	padding:0.8em 1em;
	color: #FFFFFF;
	text-shadow: none;
	background:#E14E3D;
    font-family: 'Tenor Sans',Arial,Helvetica,sans-serif;
	line-height: 2.6em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing:-1px;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	margin-top:0.25em;
	font-size: 1.4em;
	line-height: 1.0em;
	font-weight: normal;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.6em;
}