#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 1.5em;
	left: 1em;
	margin: 0.9em;
	margin-right: 1em; 
	padding:0.8em 1em;
	background:#559674;
	color:#FFFFFF;
	z-index: 50;
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	line-height: 2em;
	font-weight: bold;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	padding-top:0.25em;
	font-size: 1.4em;
	line-height: 1.15em;
	font-weight: normal;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2em;
}