#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 5%;
	left: 2%;
	margin-right:2.5em;
	padding:1em;
	background-color:black;
	color:white;
	z-index: 50;
	-moz-border-radius:0.8em;
	-webkit-border-radius:0.8em;
	border-radius:0.8em;
	font-family: Tahoma,Arial,Helvetica;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	padding-top:0.25em;
	font-size: 1.2em;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 1.4em;
}