#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 2.5em;
	left: 1em; 
	margin-right: 1em;
	color:#FFFFFF;
	z-index: 50;
	font-family:Open Sans Condensed,Arial,Helvetica,sans-serif;
	line-height: 2.8em;
	font-weight: bold;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding:0.35em;
	background:none;
	border: 0.1em solid #FFFFFF; 
}
#wowslider-container$GallerySuffix$ .ws-title div{
	line-height: 1.15em;
	display:block;
	margin-top:0.5em;
	font-size: 2em;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	padding:0.25em;
	font-size: 2.6em;
}